#tomtom-123456 {
  margin: 0 auto;
}

.progress-bar-bg {
  fill: #d3d3d3;
}

.progress-label {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  text-anchor: middle;
  dominant-baseline: central;
}

.goal-label {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  fill: #bbbdbf;
  text-anchor: middle;
  dominant-baseline: central;
}
